
AIzaSyB9hr7tTN5eZro5Q-l6vzq_7eqPnaU9_L8 -> key
Gemini API Key -> name
projects/626066207591 -> proj name
626066207591 -> proj number

curl "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent" \
  -H 'Content-Type: application/json' \
  -H 'X-goog-api-key: AIzaSyA1qYPxSTkUdxGTFRqcRCX65b5Sy8oFaZs' \
  -X POST \
  -d '{
    "contents": [
      {
        "parts": [
          {
            "text": "Explain how AI works in a few words"
          }
        ]
      }
    ]
  }'

  groq = sk-9a8b7c6d5e4f3g2h1i0j9k8l7m6n5o4p3q2r1s0t9u8v7w6x5y4z3a2b1c0d
